.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  div {
    text-align: center;
    width: 41%;
    span {
      display: block;
      opacity: 0.6;
    }
    img {
      height: 40vh;
    }
    padding-bottom: 10vh;
  }
}
