<nb-layout>

  <nb-layout-header fixed>
    <h1 routerLink="/">Petites application avec Angular</h1>
  </nb-layout-header>

  <nb-layout-column>

    <section>
      <h1 routerLinkActive="active" routerLink="/films">Film du studio Ghibli</h1>
      <!-- <app-films></app-films> -->
    </section>

<!--     
    <section>
      <app-header></app-header>
    </section>

    <section>
      <h1>Tic tac Toe</h1>
      <app-board></app-board>
    </section> -->


    <section routerLinkActive="active">
      <app-project-container></app-project-container>
    </section>


    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
